input[type=checkbox] {
  display:none;
}
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: .625rem;
}
input[type=checkbox]:checked + label:before {
  content: "\f046";
  letter-spacing: .3125rem;
}


