.tasksHeader  {
  display: none;
}
.showHeader  {
  display: block;
  align-items: center;
  color: $header-color;
  div:nth-child(1) {
    display: flex;
    padding-right: .9375rem;
    cursor: pointer;
    i   {
      @include laptops  {
        display: none;
      }
    }
  }
  h2  {
    padding: 0 .625rem;
    color: $header-color;
    margin: 0;
    font-family: $fontForText;
    flex-grow: 1;
  }
  div:nth-child(2)  {
    margin: .625rem;
    padding: .1875rem 1.875rem;
    display: none;
    font-family: $fontForText;
    color: $header-color;
    background-color: darken(white, 15%);
    box-shadow: 1px 1px 2px 2px darken(white, 25%);
    border-radius: .25rem;
    font-size: .8rem;
    @include laptops  {
      display: flex;
      align-items: center;
    }
    span  {
      word-wrap: break-word;
      padding-left: .625rem;
      text-align: left;
      &:nth-child(4){
        width: 25%;
      }
      &:nth-child(3){
        width: 15%;
      }
      &:nth-child(2){
        width: 20%;
      }
      &:nth-child(1){
        width: 40%;
        padding-left: 1.25rem;
      }
    }
    button  {
      background-color: inherit;
      border: none;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}