.categoryList {
  margin-top: 100px;
  margin-bottom: 20px;
  .listOfCategories {
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;

    @include laptops  {
      margin-left: 10%;
      width: 50%;
    }

    li  {
      border-radius: 2px;
      padding: 2px 5px;
      margin: 4px 4px;
      text-align: center;
      color: $header-text-color;
      background-color: lighten($header-color, 10%);
      box-shadow: 1px 1px 2px 2px $header-color;
      transition: background-color .5s ease;

      &:hover {
        background-color: $header-color;
        transition: background-color .5s ease;
      }

    }
  }
}

.categoryList .listOfCategories .currentCategory  {
  background-color: darken($header-color, 5%);
}