.tasks,
.completedTasks {
  list-style: none;
  margin: 0;
  padding: 0 10px;

  .schow {
    display: none;
  }

  li {
    padding: 20px;
    margin: 10px 0;
    border-radius: 4px;
    font-family: $fontForText;
    color: $header-color;
    background-color: darken(white, 10%);
    box-shadow: 1px 1px 2px 2px darken(white, 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    transition: background-color .5s ease,
    box-shadow .5s ease;

    label:nth-of-type(n+2)  {
      cursor: pointer;
      text-align: left;
      padding-left: 10px;
      word-wrap: break-word;
      overflow: hidden;
    }

    label:nth-of-type(1)  {
      cursor: pointer;
    }

    label:nth-child(3) {
      width: 80%;
      padding-right: 20px;
      @include mq-not-mobile  {
        width: 50%;
      }
      @include laptops  {
        width: 40%;
      }
    }
    label:nth-child(4)  {
      display: none;
      @include mq-not-mobile  {
        font-size: .8em;
        display: block;
        width: 30%;
      }
      @include laptops  {
        width: 20%;
      }
    }
    label:nth-child(5)  {
      //flex-grow: 1;
      display: none;
      @include laptops  {
        font-size: .8em;
        display: block;
        width: 15%;
      }
    }
    label:nth-child(6)  {
      //flex-grow: 1;
      display: none;
      @include laptops  {
        font-size: .8em;
        display: block;
        width: 25%;
      }
    }

    i   {
      padding-left: 10px;
    }

    &:hover {
      transition: background-color .5s ease,
                  box-shadow .5s ease;
      background-color: lighten($header-color, 10%);
      color: $header-text-color;
      box-shadow: 1px 1px 2px 2px $header-color;

      button  {
        color: $header-text-color;
      }
    }

    button  {
      background-color: inherit;
      border: none;
      color: $header-color;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.completedTasks label:nth-child(3)  {
  text-decoration: line-through;
}

.list {
  margin-bottom: 60px;
  @include mq-not-mobile  {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  @include  laptops {
    width: 50%;
    margin-left: 10%;
  }
}

