.list {
  margin-bottom: 3.75rem;
  @include mq-not-mobile  {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  @include  laptops {
    width: 50%;
  }
  .completedTasks label:nth-child(3)  {
    text-decoration: line-through;
  }
  div:nth-of-type(2)  {
    margin-top: 20px;
  }
}
.tasks,
.completedTasks {
  list-style: none;
  margin: 0;
  padding: 0 .625rem;
  .schow {
    display: none;
  }
  li {
    padding: 1.25rem;
    margin: .625rem 0;
    border-radius: .25rem;
    font-family: $fontForText;
    color: $header-color;
    background-color: darken(white, 10%);
    box-shadow: 1px 1px 2px 2px darken(white, 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color .5s ease,
                box-shadow .5s ease;
    span  {
      text-align: left;
      padding-left: .625rem;
      word-wrap: break-word;
      overflow: hidden;
    }
    label  {
      cursor: pointer;
    }
    span:nth-child(3) {
      width: 80%;
      padding-right: 1.25rem;
      @include mq-not-mobile  {
        width: 50%;
      }
      @include laptops  {
        width: 40%;
      }
    }
    span:nth-child(4)  {
      display: none;
      @include mq-not-mobile  {
        font-size: .8em;
        display: block;
        width: 30%;
      }
      @include laptops  {
        width: 20%;
      }
    }
    span:nth-child(5)  {
      display: none;
      @include laptops  {
        font-size: .8em;
        display: block;
        width: 15%;
      }
    }
    span:nth-child(6)  {
      display: none;
      @include laptops  {
        font-size: .8em;
        display: block;
        width: 25%;
      }
    }
    i   {
      padding-left: .625rem;
    }
    &:hover {
      transition: background-color .5s ease,
                  box-shadow .5s ease;
      background-color: lighten($header-color, 10%);
      color: $header-text-color;
      box-shadow: 1px 1px 2px 2px $header-color;
      button  {
        color: $header-text-color;
      }
    }
    button  {
      background-color: inherit;
      border: none;
      color: $header-color;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}