footer  {
  background-color: $header-color;
  color: $header-text-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 5px solid darken($header-color, 10%);

  p {
    margin: 0;
    padding: 10px;
    font-family: $fontForText;
  }

  button  {
    right: 10px;
    bottom: 10px;
    width: 40px;
    background-color: $header-color;
    font-size: 2rem;
    border-radius: 50%;
    height: 40px;
    border: 1px solid white;
    color: $header-text-color;
    cursor: pointer;
    box-shadow: 0 0 1px 1px white;
    &:hover {
      background-color: lighten($header-color, 10%);
    }

    @include laptops  {
      display: none;
    }
  }
}