header  {
  width: 100%;
  background-color: $header-color;
  color: $header-text-color;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

form  {
  margin: 0 auto;
  width: 90%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

input[type="text"]  {
  flex-basis: 75%;
  border: none;
  border-radius: 2%;
  background-color: lighten($header-color, 10%);
  color: $header-text-color;
  font-family: 'Work Sans', sans-serif;
  padding-left: 5px;
}

button  {
  width: 40px;
  //flex-basis: 15%;
  background-color: white;
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  height: 40px;
}

h1  {
  margin: 0;
  font-family: 'Nosifer', cursive;
  padding: 10px 0;
}



