@keyframes powiekszenie {
  0%  {
    //height: 0;
    opacity: 0;
  }
  100%  {
    //height: 100vh;
    opacity: 1;
  }
}

@keyframes schowaj {
  0%  {
    opacity: 1;
  }
  100%  {
    opacity: 0;
  }
}

.show {
  animation-name: powiekszenie;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(.5,.2,.3,1);
}

.hide {
  animation-name: schowaj;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.5,.2,.3,1);
}

@keyframes zwin {
  0%  {
    transform: scaleY(1);
  }
  100%  {
    transform: scaleY(0);
  }
}

@keyframes rozwin {
  0%  {
    transform: scaleY(0);
  }
  100%  {
    transform: scaleY(1);
  }
}

.zwinC  {
  animation-name: zwin;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.5,.2,.3,1);
}

.rozwinC  {
  animation-name: rozwin;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(.5,.2,.3,1);
}