@mixin mq-not-mobile  {
  @media only screen and (min-width: 768px)
  {
    @content;
  }
}
@mixin laptops  {
  @media only screen and (min-width : 1200px) {
    @content;
  }
}
@mixin colorsForLi($color, $textColor, $hoverBackground)  {
  background-color: $color;
  box-shadow: 1px 1px 2px 2px darken($color, 10%);
  color: $textColor;
  &:hover {
    background-color: $hoverBackground;
    box-shadow: 1px 1px 2px 2px darken($color, 20%);
  }
  button  {
    color: $textColor;
  }
}

