$header-color: #0C877A;
$header-text-color: #fffaf5;

$fontForText: 'Work Sans', sans-serif;
$fontForHeader: 'Nosifer', cursive;
//Colors to choose
$color-one: darken(white, 10%);
$color-two: #AF222B;
$color-three: #CA7032;
$color-four: #F0D493;
$color-five: #69A364;
$color-six: #94D4BD;
$color-seven: #029AC6;
